@import "tailwindcss";
:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-rye: "Rye", cursive;
    --font-mali: 'Mali', sans-serif;
  }
  
.font-rye {
    font-family: var(--font-rye);
  }
  
  .font-mali {
    font-family: var(--font-mali);
  }